import /vendor/etc/init/hw/init.mtkgki.rc

# MTK project .rc configure

on post-fs-data

#Camera
    chmod 0660 /dev/MAINAF
    chown system camera /dev/MAINAF

# prize modify for finger start	
	chown system system  /dev/spidev1.0
	chmod 0666 /dev/focaltech_fp
	chmod 0666 /dev/spidev1.0
# prize modify for finger end	
